* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Megamax Jonathan Too', sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    background: #10142a;
    padding: 0;
}

header,
footer,
body,
main,
button,
.scores,
.choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header {
    background: #090b19;
    padding: 20px;
}

main {
    text-align: center;
    gap: 20px;
}

button {
    background: #333a56;
    border-radius: 10%;
    max-width: 150px;
    padding: 30px;
    font-size: 30px;
}

.btns {
    display: flex;
    gap: 50px;
}

.choices {
    font-size: 100px;
}

.scores {
    font-size: 20px;
    padding: 30px 0;
}

.choices,
.scores {
    flex-direction: row;
    gap: 60px;
    padding: 30px 0;
}

.victory h2, 
.victory p,
.playerScore p {
    color: #2ecc71 !important;
}

.defeat h2,
.defeat p,
.computerScore p {
    color: #e74c3c !important;
}

.tie h2 {
    color: #f1c40f;
}